html {
    background: #efefef;
    margin: 10px;
}

.contactame {
    margin: 10px;
}


.contactame i {
    color: rgb(5, 5, 5);
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
}
.contactame a{
    text-decoration: none;
}

#list-1 a {
  font-size: 20px;
}

 #list #list-1 {
    list-style:none
}

