* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    max-height: 10vh;
    min-height: 1.vh;
}

html {
    background: #e6e6e6;
}


#header {
    background-color: #53719d;
    padding: 2rem 3rem;
    margin-top: 0%;
}


h1 {
    position: relative;
    top: 8px;
    text-align: center;
    font-size: 50px;
    transition: transform .1s; 
    cursor: pointer;
}

h1:hover {
    transform: scale(1.2);
    
}


#Noi {
    margin-top: 2vw;
}

.inter:hover {
    color: #948d8d;
    cursor: pointer;
}

#more {
    text-align: right;
    margin-right: 10px;
}

#review {
   list-style: none;
}

#review a:hover {
    color: #afafaf;
}

#review a {
    color: black;

}

#subtl {
    text-align: left;
}



.redes {
    position: relative;
    margin: 10px;
    text-align: end;
    top: 18rem;
    right: 35rem;
}




.redes i {
    color: rgb(5, 5, 5);
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
}
.redes a{
    text-decoration: none;
    position: relative;
}

#list {
    margin: 10px 10px 20px -10px;
   
}

#list-1 a {
  font-size: 20px;
  color: #6589bf;
}

#list-1 a:hover {
    color: #777680;
}

 #list #list-1 {
    list-style:none
}

@media screen and (max-width: 600px) {
  body {
 width: 100%;
  }
}
