* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

html {
    background: #e6e6e6;
}

a {
    text-decoration: none;
}

header  {
    min-height: 80px;
    background-color: #53719d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
    margin-right: 10px;
    height: 50px;
}

.logo-anim:hover {
    animation-name: logox;
    animation-duration: 1s;
}

nav a {
    color: black;
    padding-right: 10px;
}

nav a:hover {
    color: #afafaf;
}

header h1 {
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7A7E83;
    color: white;
    text-align: center;
}

.our {
    position: relative;
    color: #e6e6e6;
    text-decoration: none;
    justify-content: left;
}

#Noi {
    font-size: 100%;
    margin-top: 20px;

}

.inter:hover {
    color: #948d8d;
    cursor: pointer;
}

#more {
    text-align: right;
    margin-right: 10px;
}

#review {
   list-style: none;
   text-align: right;
   margin-top: 5px;
}

#review a {
    text-decoration: none;
}

#review a:hover {
    color: #afafaf;
}

#review a {
    color: black;

}

#subtl {
    text-align: left;
}



.redes {
    position: relative;
    margin: 10px;
    text-align: end;
    animation-name: prueba;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


.redes i {
    color: rgb(5, 5, 5);
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    font-size: 25px; 
    justify-content: space-between;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.redes a{
    text-decoration: none;
    position: relative;
}




@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }

    #Noi {
        margin-left: 5px;
        padding: 10px;
        justify-content: flex-start;
    }

    #more {
        margin-right: 10px;
        padding: 10px;
        justify-content: flex-end;
    }
}

@keyframes prueba {
    0% {
        left: 0px;}

    15% {
        left: 5px;
    }

    25% {
        left: 0px;}

    75% {
        left: 5px;}

    100% {
        left: 0px;
        text-shadow: 2px 2px rgba(255, 255, 255, 0.8);
    }
    
  }

@keyframes logox {
    0% {
        height: 50px;
    }

    25% {
        height: 48px;
    }

    50% {
        height: 50px;
    }

    75% {
        height: 48px;
    }
    100% {
        height: 50px;
        text-shadow: 2px 2px white;
    }
}
